# FastAPI e Uvicorn
fastapi==0.115.0
uvicorn[standard]==0.32.0

# Banco de dados
sqlalchemy==2.0.36
alembic==1.14.0

# Validação e serialização
pydantic==2.10.3
pydantic-settings==2.7.0
email-validator==2.2.0

# Autenticação
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Upload de arquivos
python-multipart==0.0.12

# Utilitários
python-dotenv==1.0.1
